<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:text="${list}"></div>
<div th:text="${map}"></div>
<div th:text="${dto}"></div>
<script th:inline="javascript">
	const list = [[${list}]];
	const map = [[${map}]];
	const dto = [[${dto}]];

	console.log(list);
	console.log(map);
	console.log(dto);
</script>
<!--
<script>
	const list = ["Data1","Data2","Data3","Data4","Data5","Data6","Data7","Data8","Data9"];
	const map = {"A":"AAAA","B":"BBBB"};
	const dto = {"p1":"Value -- p1","p2":"Value -- p2","p3":"Value -- p3"};

	console.log(list);
	console.log(map);
	console.log(dto);
</script>
-->
</body>
</html>